<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporario">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor site amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fa-solid fa-user"></i>
            Marcelo Magalhaes
        </span>
        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manha/">
                <i class="fa-solid fa-layer-group"></i>
                <span>Café da Manha</span>
            </a>
        </span>
    </div>


    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title">
                <i class="fa-solid fa-stopwatch"></i> Preparo
            </h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fa-solid fa-pizza-slice"></i> Porções
            </h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a href="/#" class="recipe-read-more button-dark button-full-width">
            <i class="fa-solid fa-eye"></i>
            <span>Ver Mais</span>
        </a>
    </footer>

</div>